:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.body {
  background-color: #f0f0f0;
  margin: 0;
}

h2 {
  color: rgb(37, 34, 34);
  text-align: center;
  font-size: 40px;
}

h3 {
  color: rgb(37, 34, 34);
  margin-left: 20px;
  font-size: 30px;
}

p {
  margin-left: 20px;
  font-size: 18px;
}